* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#intro-box {
    margin: 75px auto 15px;
    width: 40%;
    height: 50px;
    border: solid 5px black;
    text-align: center;
    padding: 13px;
    background-image: linear-gradient(to bottom right, pink, yellow);
    box-shadow: 5px 10px 5px lightgrey;
}

#time-date-box {
    margin: 15px auto;
    width: 70%;
    height: 300px;
    border: solid 5px black;
    text-align: center;
    padding: 85px;
    background-image: linear-gradient(to bottom right, pink, yellow);
    box-shadow: 5px 10px 5px lightgrey;
}

h1 {
    display: inline;
    text-shadow: 2px 2px lightgray;
}

p {
    text-shadow: 2px 2px lightgray;
    font-weight: 600;
}